# Node modules
node_modules/

# Logs
*.log

# Environment variables
.env

# Dependency directories
jspm_packages/

# Build output
dist/
build/

# IDE files
.idea/
.vscode/

# OS-specific files
.DS_Store
Thumbs.db
